.recipe {
    text-align: center;
    /* border: solid 2px blue; */
    width: 100%;
    height: 100%;
    /* background: linear-gradient( 
      to right,
      red,
      orange,
      yellow
  ) */
  }
  
  .food {
    border: solid 2px black;
    border-radius: 50%;
    width: 250px;
    height: 232px;
    object-fit: cover; /* This one's kinda like background-size:cover but for imgs 🖌️🎨*/
  }